$t-fontfamily-general: helvetica;
$t-fontfamily-accent: Helvetica;

$t-fontstyle-general: normal;
$t-fontstyle-large: bold;
$t-fontstyle-link: italic;

$t-fontsize-h1: 64px;
$t-fontsize-h2: 36;
$t-fontsize-h3: 30;
$t-fontsize-h4: 18;
