$t-fontsize-h1: 64px;
$t-fontsize-h2: 36px;
$t-fontsize-h3: 30px;
$t-fontsize-h4: 18px;

$t-fontfamily-h1: montserrat;
$t-fontfamily-h2: montserrat;
$t-fontfamily-h2: montserrat;
$t-fontfamily-h3: montserrat;

$t-fontstyle-h1: bold;
$t-fontstyle-h2: bold;
$t-fontstyle-h3: normal;
$t-fontstyle-h4: italic;
