h1 {
    $t-fontfamily-general: helvetica;
    $t-fontsize-h1: 64px;
    font-style:bold;
    text-align:left;
    text-decoration: none;
    color: $t-color-korall;
}

h2 {
    $t-fontfamily-general: helvetica;
    $t-fontsize-h2: 36;
    font-style:bold;
    text-align:left;
    text-decoration:none;
    color: $color-foreground;
}

h3 {
    $t-fontfamily-general: helvetica;
    $t-fontsize-h3: 30;
    font-style:bold;
    text-align:left;
    text-decoration: none;
    color: $color-foreground;
}

h4 {
    $t-fontfamily-general: helvetica;
    $t-fontsize-h4: 18;
    font-style:bold;
    text-align:left;
    text-decoration:none;
    color: $color-foreground;

}

